* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background-hero {
    background-image: url("../img/about-us.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 50vh;
}

#background-hero .text-side {
    text-align: center;
    padding: 10rem 0;
}

#heading-section {
    background-color: #dfdfdf;
    color: #555;
}

#contact-section {
    background-color: #dfdfdf;
    color: #555;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show .nav-link {
    color: rgb(98, 110, 224);
}

.navbar-light .navbar-toggler {
    border: 3px solid blue;
    color: white;
}

footer {
    background-color: #dfdfdf;
    color: black;
    font-weight: bold;
}

footer li {
    list-style-type: none;
}

@media (max-width: 300px) {
    #phone-hero .row {
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 426px) {
    
    .nedu-logo img {
        width: 50%;
        height: 100%;
    }

    #background-hero .text-side {
        padding: 2rem 0;
    }

    footer .items ul {
        flex-direction: column;
    }
    
}