* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background-hero {
    background-image: url("../img/nedu-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 50vh;
}

#background-hero .special-text {
    width: 50%;
    margin: auto;
}

#background-hero .text-primary ul {
    width: 100%;
    margin: auto;
}

#background-hero .text-primary li {
    margin: auto;
    width: 50%;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show .nav-link {
    color: rgb(98, 110, 224);
}

.navbar-light .navbar-toggler {
    border: 3px solid blue;
    color: white;
}

#carousel-parts, #phone-hero {
    background-color: #f8f8f8;
}

footer {
    background-color: #dfdfdf;
    color: black;
    font-weight: bold;
}

footer li {
    list-style-type: none;
}

@media (max-width: 300px) {
    #phone-hero .row {
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 426px) {

    #background-hero {
        background-image: none;
        background-color: #dfdfdf;
    }

    #phone-hero .first-hero img {
        width: 80%;
        height: 100%;
    }

    #background-hero .special-text {
        width: 100%;
        margin: auto;
    }

    #background-hero .text-primary {
        width: 100%;
    }

    #background-hero .text-primary li {
        margin: 0;
    }


    footer .items ul {
        flex-direction: column;
    }
    
}